# Python virtual environments
venv/
backend/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Config files
config/config.yaml
.env

# Node modules
frontend/node_modules/

# Docker
*.log
